<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
<package name="com.ssafy.sot.dto"/>
   </typeAliases>
   <mappers>
      <mapper resource="mappers/Article.xml" />
      <mapper resource="mappers/Board.xml" />
      <mapper resource="mappers/Community.xml" />
	</mappers>
</configuration>